# timemachine.sourceme 
export GIT_AUTHOR_DATE="$(date "+%a %b %m %H:%M:%S %Y %z" --date @0)"
export GIT_COMMITTER_DATE="$(date "+%a %b %m %H:%M:%S %Y %z" --date @0)"

export CGO_ENABLED=0
export GOPROXY="https://goproxy.cn,direct"

PATH_add .
