# timemachine.sourceme 
export GIT_AUTHOR_DATE="$(date "+%a %b %m %H:%M:%S %Y %z" --date @0)"
export GIT_COMMITTER_DATE="$(date "+%a %b %m %H:%M:%S %Y %z" --date @0)"

PATH_add $HOME/go/bin
PATH_add $HOME/bin

export CGO_ENABLED=0
