# timemachine.sourceme 
# export GIT_AUTHOR_DATE="$(date "+%a %b %m %H:%M:%S %Y %z" --date @0)"
# export GIT_COMMITTER_DATE="$(date "+%a %b %m %H:%M:%S %Y %z" --date @0)"

# export CGO_ENABLED=0
# export GOPROXY="https://goproxy.cn,direct"
# export GOCACHE=$PWD/.cache

# PATH_add .
PATH_add ~/go/bin/
PATH_add ./bin
PATH_add /opt/android-ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/
