/bin/
/dev/
/conntroll
/agent
/client
/hub
/k0s
/.cache
/conntroll.github.io
/demo
/releases
/*.log

# cargo
/target/
**/*.rs.bk

# windows
**/*.un~
**/*~

# bazel
/bazel-*
/k0s*

*.log
*.swp
.bin

/filebrowser.db
/tmp
