[Unit]
Description=Conntroll Agent Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i
ExecStart=/usr/bin/agent -auth conn:troll -tags systemd

[Install]
WantedBy=multi-user.target

