[Unit]
Description=Conntroll Agent Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i
ExecStart=/usr/bin/agent -tags systemd
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target

