go 1.23.2

use (
	.
	./cmd
	./pkg/agent
	./pkg/apiserver
	./pkg/asciitransport
	./pkg/cli
	./pkg/client
	./pkg/distro
	./pkg/fzf
	./pkg/hub
	./pkg/manager
	./pkg/middleware
	./pkg/plugin
	./pkg/simple
	./pkg/tunnel
	./pkg/ui
	./pkg/utils
	./third_party
)

replace (
	k0s.io v0.1.15 => ./
	k0s.io/cmd v0.1.15 => ./cmd/
	k0s.io/pkg/agent v0.1.15 => ./pkg/agent/
	k0s.io/pkg/apiserver v0.1.15 => ./pkg/apiserver/
	k0s.io/pkg/asciitransport v0.1.15 => ./pkg/asciitransport/
	k0s.io/pkg/cli v0.1.15 => ./pkg/cli/
	k0s.io/pkg/client v0.1.15 => ./pkg/client/
	k0s.io/pkg/distro v0.1.15 => ./pkg/distro/
	k0s.io/pkg/fzf v0.1.15 => ./pkg/fzf/
	k0s.io/pkg/hub v0.1.15 => ./pkg/hub/
	k0s.io/pkg/manager v0.1.15 => ./pkg/manager/
	k0s.io/pkg/middleware v0.1.15 => ./pkg/middleware/
	k0s.io/pkg/plugin v0.1.15 => ./pkg/plugin/
	k0s.io/pkg/simple v0.1.15 => ./pkg/simple/
	k0s.io/pkg/tunnel v0.1.15 => ./pkg/tunnel/
	k0s.io/pkg/ui v0.1.15 => ./pkg/ui/
	k0s.io/pkg/utils v0.1.15 => ./pkg/utils/
	k0s.io/third_party v0.1.15 => ./third_party/
)
