go 1.21.6

use (
	.
	./cmd
	./pkg/agent
	./pkg/apiserver
	./pkg/asciitransport
	./pkg/cli
	./pkg/client
	./pkg/console
	./pkg/dial
	./pkg/distro
	./pkg/exporter
	./pkg/fonts
	./pkg/fzf
	./pkg/gitd
	./pkg/hub
	./pkg/manager
	./pkg/middleware
	./pkg/plugin
	./pkg/rng
	./pkg/simple
	./pkg/tunnel
	./pkg/ui
	./pkg/utils
	./pkg/uuid
	./pkg/wrap
	./third_party
)

replace (
	k0s.io v0.1.8 => ./
	k0s.io/cmd v0.1.8 => ./cmd/
	k0s.io/pkg/agent v0.1.8 => ./pkg/agent/
	k0s.io/pkg/apiserver v0.1.8 => ./pkg/apiserver/
	k0s.io/pkg/asciitransport v0.1.8 => ./pkg/asciitransport/
	k0s.io/pkg/cli v0.1.8 => ./pkg/cli/
	k0s.io/pkg/client v0.1.8 => ./pkg/client/
	k0s.io/pkg/console v0.1.8 => ./pkg/console/
	k0s.io/pkg/dial v0.1.8 => ./pkg/dial/
	k0s.io/pkg/distro v0.1.8 => ./pkg/distro/
	k0s.io/pkg/exporter v0.1.8 => ./pkg/exporter/
	k0s.io/pkg/fonts v0.1.8 => ./pkg/fonts/
	k0s.io/pkg/fzf v0.1.8 => ./pkg/fzf/
	k0s.io/pkg/gitd v0.1.8 => ./pkg/gitd/
	k0s.io/pkg/hub v0.1.8 => ./pkg/hub/
	k0s.io/pkg/manager v0.1.8 => ./pkg/manager/
	k0s.io/pkg/middleware v0.1.8 => ./pkg/middleware/
	k0s.io/pkg/plugin v0.1.8 => ./pkg/plugin/
	k0s.io/pkg/rng v0.1.8 => ./pkg/rng/
	k0s.io/pkg/simple v0.1.8 => ./pkg/simple/
	k0s.io/pkg/tunnel v0.1.8 => ./pkg/tunnel/
	k0s.io/pkg/ui v0.1.8 => ./pkg/ui/
	k0s.io/pkg/utils v0.1.8 => ./pkg/utils/
	k0s.io/pkg/uuid v0.1.8 => ./pkg/uuid/
	k0s.io/pkg/wrap v0.1.8 => ./pkg/wrap/
	k0s.io/third_party v0.1.8 => ./third_party/
)
